.swiper {
    width: 100%;
    height: 500px;
}

.swiper-button-prev, .swiper-button-next{
    background: none;
    border: none;
}
.swiper-button-prev:focus, .swiper-button-next:focus{
    border: none;
}