.main{
    max-width: 900px;
}
.section-content{
    grid-template-columns: 60% 30%;
    gap: 10%;
}

.aside{
    border: 1px solid rgba(170, 169, 169, 0.301);
    width: 100%;
    height: 500px;
    margin: 25px 0;
}
.aside h4{
text-align: center;
padding: 20px 0 50px 0;
}



/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .section-content{
        grid-template-columns: 100%;
        
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }