.main{
    max-width: 1000px;
}
.section-content{
    grid-template-columns: 60% 30%;
    gap: 10%;
}

.aside{
    border: 1px solid rgba(170, 169, 169, 0.301);
    width: 100%;
    height: 500px;
    margin: 25px 0;
}
.aside h4{
text-align: center;
padding: 20px 0 50px 0;
}

.author-data{
    display: flex;
    align-items: center;
}
.author-data p{
    padding: 0;
    margin: 0;
    
}

.author-container{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.author-container p{
   padding: 0;
   margin: 0;
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
    .section-content{
        grid-template-columns: 100%;
        
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }